# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i86
*.x86_64
*.conf
*.ps1
*.zip
*.rc
!assets/igi-editor.rc
bin/*/shaders
scratch/*
# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
cmake_test_discovery_*.json

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.db
*.opendb
*.ncb
*.user
*.userosscache
*.sln.docstates
Debug/
Release/
x64/
x86/
build/
vcbuild/
bin/Debug/
bin/Release/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OS Files
Thumbs.db
Desktop.ini
.DS_Store
*.dll
bin/
res/

# Others
.cache/
.agent
.gemini/
.claude/
.antigravity
.antigravitycli
claude.md
cursor.md
agents.md
*.log
*.tlog
.env
.env.*
!.env.example
.agent/
vcbuild/
bin/
x64/
x86/
Debug/
Release/
*.txt
*.py
*.qsc
models/

# Dont Ignore
!assets
!assets/*.png
!assets/screenshots
!bin/

# Caches
__pycache__/
*.pyc
*.qsc
*.qas
*qvm.worktrees
!assets/editor/tools/igi1conv/**
